/* GENERAL STYLING OF THE PAGE */
body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #848C8E;
    overflow-x: hidden;
}
nav {
    min-height: 10vh;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenido {
    min-height: 90vh;
    z-index: 1;
}
footer {
    min-height: 30vh;
    padding: 0 3rem; 
    color: white;
}
.bg-primary, .text-primary {
    background-color: #41748C;
}
.bg-secondary, .text-secondary  {
    background-color: #31C69A;
}
.bg-tertiary {
    background-color: #848C8E;
}
.bg-light {
    background-color: white !important;
}
.bg-dark {
    background-color: #1E1E24 !important;
}
h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #41748C;
    font-weight: 700;
    text-transform: uppercase;
}
h1 {
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1E1E24;
    font-weight: 700;
    font-size: 30pt;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
em {
    font-style: normal;
    color: #41748C;
}
a {
    color: #41748C !important;
    transition: 0.3s;  
}
a:active, a:focus, a:hover {
    color: #31C69A !important;
}
.shadowing {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.fadingIn {
    animation:in 1s;
}
@keyframes in {
    0%{opacity:0}
    100%{opacity:1}
}
.fadingOut {
    animation:out 1s;
}
@keyframes out {
    0%{opacity:1;}
    100%{opacity:0; display:hidden;}
}

/* SPECIFIC CONTENT */
nav .navbar-toggler, .navbar-toggler-icon {
    color: #848C8E !important;
    border-color: #848C8E !important;
}
.section {
    min-height: 90vh !important;
}
#profile-pic {
    box-shadow: inset 0px 0px 40px 40px white;
}




h4.title-media {
    color: white;
    text-transform: none;
}
.footer-social{
    color:white !important;
}
