/* GENERAL STYLING OF THE PAGE */
body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #848C8E;
}
#nav {
    min-height: 10vh;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenido {
    min-height: 90vh;
    z-index: 1;
}
footer {
    min-height: 40vh;
    margin: 0 2rem;
    color: white;
}
.bg-primary, .text-primary {
    background-color: #41748C;
}
.bg-secondary, .text-secondary  {
    background-color: #31C69A;
}
.bg-tertiary {
    background-color: #848C8E;
}
.bg-light {
    background-color: white !important;
}
.bg-dark {
    background-color: #1E1E24 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1E1E24;
    font-weight: 700;
    font-size: 30pt;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 2rem;
}
em {
    font-style: normal;
}
.grad-back { 
    background-image:         linear-gradient(to top, #41748C, #31C69A);
    background-image:      -o-linear-gradient(top, #41748C, #31C69A);
    background-image:    -moz-linear-gradient(top, #41748C, #31C69A);
    background-image: -webkit-linear-gradient(top, #41748C, #31C69A); 
    background-color: #41748C;
}
.grad-front {
    color:         linear-gradient(to top, #41748C, #31C69A);
    color:      -o-linear-gradient(top, #41748C, #31C69A);
    color:    -moz-linear-gradient(top, #41748C, #31C69A);
    color: -webkit-linear-gradient(top, #41748C, #31C69A);
    color: #41748C;
}
a {
    color: #41748C !important;
    transition: 0.3s;  
}
a:active, a:focus, a:hover {
    color: #31C69A !important;
}
.shadowing {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

/* SPECIFIC CONTENT */
#nav .navbar-toggler, .navbar-toggler-icon {
    color: #848C8E !important;
    border-color: #848C8E !important;
}
/* .section {
    display: flex;
    align-items: center;
    justify-content: center;
} */